{% extends "layout/base.twig" %}

{% block title %}IsiWeb4Shop{% endblock %}

{% block content %}

<table class="table" aria-describedby="table-description">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Action</th>
    </tr>
    {% if orderAdmin is not empty %}
        {% for i in orderAdmin %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.quantity }}</td>
                <td>
                    <a href="index.php?action=editProduct&id={{ i.id }}" class="btn btn-primary">Modifier</a> 
                    <a href="index.php?action=deleteProduct&id={{ i.id }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}