{% extends "layout/base.twig" %}

{% block title %}IsiWeb4Shop - Adresse de livraison{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Ajouter une nouvelle adresse de livraison :</h2>
                <form action="index.php?action=payement" method="post">
                    <div class="form-group">
                        <label for="firstname">Prénom:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Nom:</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="">
                    </div>
                    <div class="form-group">
                        <label for="add1">Adresse 1:</label>
                        <input type="text" class="form-control" id="add1" name="add1" value="">
                    </div>
                    <div class="form-group">
                        <label for="add2">Adresse 2:</label>
                        <input type="text" class="form-control" id="add2" name="add2" value="">
                    </div>
                    <div class="form-group">
                        <label for="city">Ville:</label>
                        <input type="text" class="form-control" id="city" name="city" value="">
                    </div>
                    <div class="form-group">
                        <label for="postcode">Code postal:</label>
                        <input type="text" class="form-control" id="postcode" name="postcode" value="">
                    </div>
                    <div class="form-group">
                        <label for="phone">Téléphone:</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" name="email" value="">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Enregistrer">
                </form>
            </div>
            <div class="col-md-6">
                {% if delivery_address %}
                    <h2>Choisir une adresse existante :</h2>
                    <form method='post' action='index.php?action=payement'>
                        <p> Nom: {{ delivery_address.surname }} </p>
                        <p> Prénom: {{ delivery_address.forname }} </p>
                        <p> Adresse 1: {{ delivery_address.add1 }} </p>
                        <p> Adresse 2: {{ delivery_address.add2 }} </p>
                        <p> Ville: {{ delivery_address.add3 }} </p>
                        <p> Code postal: {{ delivery_address.postcode }} </p>
                        <input type='submit' class="btn btn-secondary" value='Choisir'>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
