{% extends "layout/base.twig" %}

{% block title %}IsiWeb4Shop{% endblock %}

{% block content %}
    <h1>Addresse de livraison</h1>
    {% if delivery_address %}
        <h2>Choissir adresse existante :</h2>
        <form method='post' action='index.php?action=payement'>
            <p> Nom: {{ delivery_address.forname }}  </p>
            <p> Prénom: {{ delivery_address.surname }}  </p>
            <p> Addresse: {{ delivery_address.add1 }}  </p>
            <p> Complément d'adresse: {{ delivery_address.add2 }}  </p>
            <p> Ville: {{ delivery_address.add3 }}  </p>
            <p> Code postal: {{ delivery_address.postcode }}  </p>
            <input type='submit' value='Choisir'>
        </form>
    {% endif %}
    <h2>Autre adresse de livraison</h2>
        <form action="index.php?action=payement" method="post">
        <label for="firstname">Prénom:</label><br>
        <input type="text" id="firstname" name="firstname" value="{{ delivery_address.surname }}"><br>
        <label for="lastname">Nom:</label><br>
        <input type="text" id="lastname" name="lastname" value="{{ delivery_address.forname }}"><br>
        <label for="add1">Adresse 1:</label><br>
        <input type="text" id="add1" name="add1" value="{{ delivery_address.add1 }}"><br>
        <label for="add2">Adresse 2:</label><br>
        <input type="text" id="add2" name="add2" value="{{ delivery_address.add2 }}"><br>
        <label for="city">Ville:</label><br>
        <input type="text" id="city" name="city" value="{{ delivery_address.add3 }}"><br>
        <label for="postcode">Code postal:</label><br>
        <input type="text" id="postcode" name="postcode" value="{{ delivery_address.postcode }}"><br>
        <label for="phone">Téléphone:</label><br>
        <input type="text" id="phone" name="phone" value="{{ delivery_address.phone }}"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{ delivery_address.email }}"><br>
        <input type="submit" value="Enregistrer">
    </form>

    
{% endblock %}
