{% extends "layout/base.twig" %}

{% block content %}
	<link rel="stylesheet" href="style/productDetails.css">

	<div class="container mt-5">
		<div class="product-details row">
			<img class="product-image col-md-6" src="assets/img/{{ product.image }}" alt="{{ product.name }}">
			<div class="product-info col-md-6">
				<h1>{{ product.name }}</h1>
				<p>{{ product.description }}</p>
				<div class="product-action">
					<div>
						<p>Prix : {{ product.price }}€</p>
						<p>Quantité disponible : {{ product.quantity }}</p>
					</div>

					{% if product.quantity > 0 %}
						<form method="post">
							<input type="hidden" name="id" value="{{ product.id }}">
							<input type="number" name="quantity" class="form-control" min="1" max="{{ product.quantity }}" value="1">
							<button type="submit" class="btn">
								<img src="assets/icon/shopping-cart.svg" alt="icone panier" title="Ajouter au panier">
							</button>
						</form>
					{% else %}
						<p class="text-danger">Rupture de stock</p>
					{% endif %}
				</div>
			</div>
		</div>

		<h2 class="mt-5">Avis des acheteurs</h2>
		{% for review in reviews %}
			<div class="review">
				<h3>{{ review.title }}</h3>
				<p>Par {{ review.name_user }}</p>
				<p>{{ review.description }}</p>
				<p>Note : {{ review.stars }}/5</p>
			</div>
		{% endfor %}

		<div class="add-review mt-4">
			<h2>Ajouter un commentaire</h2>
			<form method="post">
				<input type="hidden" name="productId" value="{{ product.id }}">
				<div>
					<input type="text" class="form-control" name="name" placeholder="Votre nom" required>
					<div>
						<input type="number" class="form-control" value="5" name="stars" min="1" max="5" required>
						<img src="assets/icon/star.svg" alt="étoile">
					</div>
				</div>
				<div class="form-control">
					<input type="text" class="form-control" name="title" placeholder="Titre" required>
					<textarea class="form-control" name="description" placeholder="Commentaire" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Ajouter le commentaire</button>
			</form>
		</div>
	</div>
{% endblock %}
