{% extends "layout/base.twig" %}

{% block content %}

    <div class="container">
        <div class="container mt-5">

        <section id="liste" class="liste">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                     <h2>Liste Produits</h2>
                </header>
                
                <form method="get" action="index.php">
                    <label for="category">Filtrer par catégorie :</label>
                    <select name="category" id="category">
                        <option value="all">Tous les produits</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Filtrer</button>
                </form>

                <div class="row gy-4">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                       <div class="liste-wrap">
                            <img src="Img/{{product.image}}" class="img-fluid" alt="">
                            <div class="liste-info">
                                <h4>{{product.name}}</h4>
                                <p>{{product.price}}</p>
                                <div class="liste-links">
                                    <a href="" title="Voir plus"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        

        <!-- Footer -->
        <footer class="bg-light text-center py-3">
            <p>&copy; 2023 Jules Ginhac et Dorian Tonnis</p>
        </footer>

    </div>

{% endblock %}
